<%- include('../partials/header') %>
<main id="index-listers" class="background">
<h2 class="titles"><%= title %></h2>
<table >
    <thead>
        <!-- <tr id="index-rows">
            <th>Listed Jobs</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
        </tr> -->
    </thead>
    <tbody>
        <% listers.forEach(function(l) { %>
        <tr>
            <td id="lister-subTitle"><%= l.title %></td>
            <td class="lister-index" ><%= l.date %></td>
            <td class="lister-index" ><%= l.location %></td>
            <td class="lister-index"><a id="desc-link" href="/listers/<%=l._id%>">Description</td>
        </tr>
        <% }); %>
    </tbody>

</table>
</main>

<%- include('../partials/footer') %>