<%- include('../partials/header') %>

<main id="show-listers" class="background">
<h2 class="titles"><%= title %></h2>

<ul><h3><%= lister.title %></h3></ul>
<ul><div><%= lister.date %></div></ul>
<ul><div><%= lister.desc_ %></div></ul>

<% if(user?.id == lister.user._id) { %>

<form action="/listers/<%= lister._id %>?_method=PUT" method="POST">
  <h3>Edit Gig Details</h3>
  <label>Title:</label>
    <input type="text" name="title">
    <label>Date/Time:</label>
    <input type="datetime-local" name="date">
    <label>Location/Address:</label>
    <input type="text" name="location">
    <label>Provide any extra details, such as pay, prerequisities, etc.:</label>
    <textarea rows="5" cols="33" name="desc_"></textarea>
    <input type="submit" value="Submit">
</form>

<% } %>
<h3><ul>Apply</ul></h3>
<form action="/listers/<%= lister._id %>/apply" method="POST">
    <label><ul>Please type or paste a brief resume or description detailing your experience/skills:</ul></label>
    <ul><textarea name="resume"></textarea></ul>
    <ul><input type="submit" value="Submit"></ul>
</form>
<% if(lister.applicant.length) { %>
  <h4 id='applications'><ul>Applications</ul></h4>
  <table>
  <tbody>
    <% lister.applicant.forEach(function(a) { %>
      <% if(user?.id == lister.user._id) { %>
          <thead>
          </thead>
          <tr>
            <td><ul><%= a.resume %></ul></td>
          </tr>
      <% } %>
  </tbody>
</table>
    <% }) %>
    <% } else { %>
      <ul><h5>You have no applicants yet</h5></ul>
    <% } %>
</div>
</main>

<%- include('../partials/footer') %>